@font-face {
  font-family: 'BurbankSmall-Bold';
  src: url("../fonts/BurbankSmall/BurbankSmall-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BurbankSmall/BurbankSmall-Bold.otf") format("opentype"), url("../fonts/BurbankSmall/BurbankSmall-Bold.woff") format("woff"), url("../fonts/BurbankSmall/BurbankSmall-Bold.ttf") format("truetype"), url("../fonts/BurbankSmall/BurbankSmall-Bold.svg#BurbankSmall-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamRounded-Bold';
  src: url("../fonts/Gotham-rounded/GothamRounded-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-rounded/GothamRounded-Bold.otf") format("opentype"), url("../fonts/Gotham-rounded/GothamRounded-Bold.woff") format("woff"), url("../fonts/Gotham-rounded/GothamRounded-Bold.ttf") format("truetype"), url("../fonts/Gotham-rounded/GothamRounded-Bold.svg#GothamRounded-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamRounded-Book';
  src: url("../fonts/Gotham-rounded/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-rounded/GothamRounded-Book.otf") format("opentype"), url("../fonts/Gotham-rounded/GothamRounded-Book.woff") format("woff"), url("../fonts/Gotham-rounded/GothamRounded-Book.ttf") format("truetype"), url("../fonts/Gotham-rounded/GothamRounded-Book.svg#GothamRounded-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 16px; }

img {
  max-width: 100%; }

a {
  font-family: "GothamRounded-Bold"; }

.img-holder {
  position: relative;
  background: #ccc url("assets/logo-small.png") no-repeat center center;
  background-size: 80px auto;
  overflow: hidden;
  display: block; }
  .img-holder:after {
    content: '';
    display: block;
    width: 100%; }
  .img-holder.size-1by1:after {
    padding-top: 100%; }
  .img-holder.size-4by3:after {
    padding-top: 75%; }
  .img-holder.size-16by9:after {
    padding-top: 56.25%; }
  .img-holder img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

/* Buzz Out */
@-webkit-keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
@keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
.buzz {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.animation {
  visibility: hidden;
  position: relative;
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideLeft {
  animation-name: slideLeft;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideRight {
  animation-name: slideRight;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.slideUp {
  animation-name: slideUp;
  visibility: visible;
  animation-duration: 1s; }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideDown {
  animation-name: slideDown;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

.zoom {
  animation-name: zoom;
  visibility: visible;
  animation-duration: 2s;
  opacity: 1; }

@keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right 0.5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem; }

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
  color: #5cb85c; }

.has-success .form-control {
  border-color: #5cb85c; }

.has-success .input-group-addon {
  color: #5cb85c;
  border-color: #5cb85c;
  background-color: #eaf6ea; }

.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"); }

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
  color: #f0ad4e; }

.has-warning .form-control {
  border-color: #f0ad4e; }

.has-warning .input-group-addon {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-color: white; }

.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E"); }

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
  color: #d9534f; }

.has-danger .form-control {
  border-color: #d9534f !important; }

.has-danger .input-group-addon {
  color: #d9534f;
  border-color: #d9534f;
  background-color: #fdf7f7; }

.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E"); }

.error-msg > * {
  color: #d9534f; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  header .container {
    max-width: 1620px;
    padding: 0 10px; }
    header .container .navbar-brand {
      max-width: 30%; }
    header .container .header-action a.btn {
      border-radius: 20px;
      padding: 5px 10px;
      font-size: .8rem; }
      header .container .header-action a.btn span {
        display: none; }
    header .container .header-action .search .search-icon {
      cursor: pointer; }
    header .container .header-action .search .search-form {
      position: absolute;
      right: 0;
      top: 80px;
      display: none;
      width: 100%; }
    header .container .header-action .cart {
      position: relative; }
      header .container .header-action .cart .num {
        position: absolute;
        background-color: #FF151F;
        border-radius: 50%;
        color: #fff;
        font-size: 0.6rem;
        width: 16px;
        height: 16px;
        text-align: center;
        top: -5px;
        right: -1px;
        line-height: 16px; }
      header .container .header-action .cart .small-cart {
        position: fixed;
        top: 0;
        right: -1000px;
        height: 100vh;
        overflow: scroll;
        max-width: 260px;
        padding: 0 10px;
        font-family: "GothamRounded-Book";
        transition: 1s linear;
        z-index: 101; }
        header .container .header-action .cart .small-cart.active {
          right: 0; }
        header .container .header-action .cart .small-cart > h4 {
          font-family: "GothamRounded-Bold";
          color: #FF151F; }
        header .container .header-action .cart .small-cart .small-cart-info {
          flex-direction: column;
          font-family: "GothamRounded-Bold"; }
          header .container .header-action .cart .small-cart .small-cart-info .price h4, header .container .header-action .cart .small-cart .small-cart-info .delivery h4 {
            font-size: 1rem !important; }
          header .container .header-action .cart .small-cart .small-cart-info .final-price h2 {
            font-size: 1.25rem !important; }
        header .container .header-action .cart .small-cart .small-cart-products {
          border-bottom: 2px solid #cfcfcf;
          overflow: scroll;
          height: 470px; }
          header .container .header-action .cart .small-cart .small-cart-products .small-cart-item {
            margin-bottom: 25px; }
            header .container .header-action .cart .small-cart .small-cart-products .small-cart-item .small-cart-item-photo {
              margin-right: 10px; }
            header .container .header-action .cart .small-cart .small-cart-products .small-cart-item .small-cart-item-detail {
              position: relative; }
              header .container .header-action .cart .small-cart .small-cart-products .small-cart-item .small-cart-item-detail .detail-title {
                font-size: 1.25rem; }
              header .container .header-action .cart .small-cart .small-cart-products .small-cart-item .small-cart-item-detail .close-small-cart {
                position: absolute;
                top: 0;
                right: 0;
                width: 25px;
                height: 25px;
                background: #F9F9F9;
                border-radius: 50%; }
        header .container .header-action .cart .small-cart .small-cart-action .btn {
          width: 200px;
          height: 55px;
          border-radius: 36px;
          line-height: 40px; }
        header .container .header-action .cart .small-cart .small-cart-action .btn-light {
          font-size: 1.10rem; }
        header .container .header-action .cart .small-cart .small-cart-action .btn-warning {
          font-size: 1.25;
          color: #fff; }
    header .container .navbar-toggler {
      padding: 0.15rem 0.55rem; }
    header .container .submenu {
      display: none;
      padding-left: 10px !important;
      margin-bottom: 15px !important; }
      header .container .submenu .submenu-icon {
        width: 30px;
        margin-right: 20px;
        margin-bottom: 10px; }
      header .container .submenu .level-2 {
        padding-left: 50px !important;
        display: none; }

@media (min-width: 450px) {
  header .container {
    padding-left: 15px;
    padding-right: 15px; }
    header .container .header-action .btn {
      font-size: 1rem; }
    header .container .header-action img {
      width: 100% !important; }
    header .container .header-action .search .search-form {
      top: 100px; }
    header .container .header-action .cart .num {
      top: -7px;
      right: -7px; } }
@media (min-width: 576px) {
  header .container .navbar-brand {
    width: 10; }
  header .container .header-action a.btn {
    padding: 6px 20px;
    font-size: 1rem; }
    header .container .header-action a.btn span {
      display: inline-block; }
  header .container .header-action .search .search-form {
    top: 120px; }
  header .container .header-action .cart .small-cart {
    max-width: 480px;
    padding: 0 19px 0 50px; }
    header .container .header-action .cart .small-cart .small-cart-item .small-cart-item-photo {
      margin-right: 30px !important; }
    header .container .header-action .cart .small-cart .small-cart-item-detail {
      padding-right: 100px; }
      header .container .header-action .cart .small-cart .small-cart-item-detail .detail-title {
        font-size: 1.5rem !important; } }
@media (min-width: 992px) {
  header .container .header-action .cart .small-cart {
    max-width: 600px; }
    header .container .header-action .cart .small-cart .small-cart-item-detail {
      padding-right: 150px; }
    header .container .header-action .cart .small-cart .small-cart-info .price h4, header .container .header-action .cart .small-cart .small-cart-info .delivery h4 {
      font-size: 1.5rem !important; }
    header .container .header-action .cart .small-cart .small-cart-info .final-price h2 {
      font-size: 1.8rem !important; }
  header .container .submenu {
    position: absolute;
    top: 120px; }
    header .container .submenu .submenu-link {
      margin-bottom: 15px; }
    header .container .submenu .level-2 {
      position: absolute;
      width: 500px;
      height: 300px;
      top: 0;
      left: 150px;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; }
      header .container .submenu .level-2 .submenu-link {
        margin-bottom: 10px; } }
.body-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(79, 79, 79, 0.38);
  top: 0;
  left: 0;
  z-index: 100;
  display: none; }

/*# sourceMappingURL=theme.css.map */
