@font-face {
  font-family: 'BurbankSmall-Bold';
  src: url("../fonts/BurbankSmall/BurbankSmall-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BurbankSmall/BurbankSmall-Bold.otf") format("opentype"), url("../fonts/BurbankSmall/BurbankSmall-Bold.woff") format("woff"), url("../fonts/BurbankSmall/BurbankSmall-Bold.ttf") format("truetype"), url("../fonts/BurbankSmall/BurbankSmall-Bold.svg#BurbankSmall-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamRounded-Bold';
  src: url("../fonts/Gotham-rounded/GothamRounded-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-rounded/GothamRounded-Bold.otf") format("opentype"), url("../fonts/Gotham-rounded/GothamRounded-Bold.woff") format("woff"), url("../fonts/Gotham-rounded/GothamRounded-Bold.ttf") format("truetype"), url("../fonts/Gotham-rounded/GothamRounded-Bold.svg#GothamRounded-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamRounded-Book';
  src: url("../fonts/Gotham-rounded/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-rounded/GothamRounded-Book.otf") format("opentype"), url("../fonts/Gotham-rounded/GothamRounded-Book.woff") format("woff"), url("../fonts/Gotham-rounded/GothamRounded-Book.ttf") format("truetype"), url("../fonts/Gotham-rounded/GothamRounded-Book.svg#GothamRounded-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 16px; }

body {
  overflow-x: hidden; }

img {
  max-width: 100%; }

a {
  font-family: "GothamRounded-Bold"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "BurbankSmall-Bold"; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.img-holder {
  position: relative;
  background: #ccc url("assets/logo-small.png") no-repeat center center;
  background-size: 80px auto;
  overflow: hidden;
  display: block; }
  .img-holder:after {
    content: '';
    display: block;
    width: 100%; }
  .img-holder.size-1by1:after {
    padding-top: 100%; }
  .img-holder.size-4by3:after {
    padding-top: 75%; }
  .img-holder.size-16by9:after {
    padding-top: 56.25%; }
  .img-holder img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

/* Buzz Out */
@-webkit-keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
@keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
.buzz {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.animation {
  visibility: hidden;
  position: relative;
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideLeft {
  animation-name: slideLeft;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideRight {
  animation-name: slideRight;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.slideUp {
  animation-name: slideUp;
  visibility: visible;
  animation-duration: 1s; }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideDown {
  animation-name: slideDown;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

.zoom {
  animation-name: zoom;
  visibility: visible;
  animation-duration: 2s;
  opacity: 1; }

@keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
/* ----------------------------------------------
 * Generated by Animista on 2019-3-2 1:36:39
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both; }

.wobble img {
  animation: wobble-hor-bottom 5s linear;
  animation-play-state: paused; }
.wobble:hover img {
  animation-play-state: running; }

@-webkit-keyframes wobble-hor-bottom {
  0%,
    100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg); } }
.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right 0.5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem; }

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
  color: #5cb85c; }

.has-success .form-control {
  border-color: #5cb85c; }

.has-success .input-group-addon {
  color: #5cb85c;
  border-color: #5cb85c;
  background-color: #eaf6ea; }

.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"); }

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
  color: #f0ad4e; }

.has-warning .form-control {
  border-color: #f0ad4e; }

.has-warning .input-group-addon {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-color: white; }

.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E"); }

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
  color: #d9534f; }

.has-danger .form-control {
  border-color: #d9534f !important; }

.has-danger .input-group-addon {
  color: #d9534f;
  border-color: #d9534f;
  background-color: #fdf7f7; }

.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E"); }

.error-msg > * {
  color: #d9534f; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  header .container {
    max-width: 1620px;
    padding: 0 10px; }
    header .container .navbar-brand {
      max-width: 30%; }
    header .container .header-action a.btn {
      border-radius: 20px;
      padding: 5px 10px;
      font-size: .8rem;
      display: none; }
    header .container .header-action .search .search-icon {
      cursor: pointer; }
    header .container .header-action .search .search-form {
      position: absolute;
      right: 0;
      top: 80px;
      display: none;
      width: 100%; }
    header .container .header-action .cart {
      position: relative; }
      header .container .header-action .cart .num {
        position: absolute;
        background-color: #FF151F;
        border-radius: 50%;
        color: #fff;
        font-size: 0.6rem;
        width: 16px;
        height: 16px;
        text-align: center;
        top: -5px;
        right: -1px;
        line-height: 16px; }
      header .container .header-action .cart .small-cart {
        position: fixed;
        top: 0;
        right: -1000px;
        height: 100vh;
        overflow: scroll;
        max-width: 260px;
        padding: 0 10px;
        font-family: "GothamRounded-Book";
        transition: 1s linear;
        z-index: 1000; }
        header .container .header-action .cart .small-cart.active {
          right: 0; }
        header .container .header-action .cart .small-cart > h4 {
          font-family: "GothamRounded-Bold";
          color: #FF151F; }
        header .container .header-action .cart .small-cart .small-cart-info {
          flex-direction: column;
          font-family: "GothamRounded-Bold"; }
          header .container .header-action .cart .small-cart .small-cart-info .price h4, header .container .header-action .cart .small-cart .small-cart-info .delivery h4 {
            font-size: 1rem !important; }
          header .container .header-action .cart .small-cart .small-cart-info .final-price h2 {
            font-size: 1.25rem !important; }
        header .container .header-action .cart .small-cart .small-cart-products {
          border-bottom: 2px solid #cfcfcf;
          overflow: scroll;
          height: 470px; }
          header .container .header-action .cart .small-cart .small-cart-products .small-cart-item {
            margin-bottom: 25px; }
            header .container .header-action .cart .small-cart .small-cart-products .small-cart-item .small-cart-item-photo {
              margin-right: 10px; }
            header .container .header-action .cart .small-cart .small-cart-products .small-cart-item .small-cart-item-detail {
              position: relative; }
              header .container .header-action .cart .small-cart .small-cart-products .small-cart-item .small-cart-item-detail .detail-title {
                font-size: 1.25rem; }
              header .container .header-action .cart .small-cart .small-cart-products .small-cart-item .small-cart-item-detail .close-small-cart {
                position: absolute;
                top: 0;
                right: 0;
                width: 25px;
                height: 25px;
                background: #F9F9F9;
                border-radius: 50%; }
        header .container .header-action .cart .small-cart .small-cart-action .btn {
          width: 200px;
          height: 55px;
          border-radius: 36px;
          line-height: 40px; }
        header .container .header-action .cart .small-cart .small-cart-action .btn-light {
          font-size: 1.10rem; }
        header .container .header-action .cart .small-cart .small-cart-action .btn-warning {
          font-size: 1.25;
          color: #fff; }
    header .container .header-action .user {
      margin-left: 3px; }
      header .container .header-action .user .fa {
        font-size: 20px;
        position: relative;
        top: 2px; }
      header .container .header-action .user .dropdown-menu {
        border-radius: 36px 0 36px 36px;
        top: 50px;
        left: -160px;
        border-color: #fd7e14;
        z-index: 0; }
      header .container .header-action .user .dropdown-item {
        border-radius: 36px 0 0 0;
        border-color: #FF151F;
        background: transparent;
        border-bottom: 1px solid #fd7e14;
        padding: 10px 15px;
        text-align: center; }
        header .container .header-action .user .dropdown-item:hover {
          color: #fd7e14; }
        header .container .header-action .user .dropdown-item:focus {
          color: #FF151F;
          background: none; }
    header .container .navbar-toggler {
      padding: 0.15rem 0.55rem; }
    header .container .submenu {
      display: none;
      padding-left: 10px !important;
      margin-bottom: 15px !important; }
      header .container .submenu .submenu-icon {
        width: 30px;
        margin-right: 20px;
        margin-bottom: 10px; }
      header .container .submenu .level-2 {
        padding-left: 50px !important;
        display: none; }

@media (min-width: 450px) {
  header .container {
    padding-left: 15px;
    padding-right: 15px; }
    header .container .header-action a.btn {
      font-size: 1rem;
      display: inline-block; }
      header .container .header-action a.btn span {
        display: none; }
    header .container .header-action img {
      width: 100% !important; }
    header .container .header-action .search .search-form {
      top: 100px; }
    header .container .header-action .cart .num {
      top: -7px;
      right: -7px; }
    header .container .header-action .user {
      margin-left: 7px; }
      header .container .header-action .user .fa {
        font-size: 24px; } }
@media (min-width: 576px) {
  header .container .navbar-brand {
    width: 10; }
  header .container .header-action a.btn {
    padding: 6px 20px;
    font-size: 1rem; }
  header .container .header-action .search .search-form {
    top: 120px; }
  header .container .header-action .cart .small-cart {
    max-width: 480px;
    padding: 0 19px 0 50px; }
    header .container .header-action .cart .small-cart .small-cart-item .small-cart-item-photo {
      margin-right: 30px !important; }
    header .container .header-action .cart .small-cart .small-cart-item-detail {
      padding-right: 100px; }
      header .container .header-action .cart .small-cart .small-cart-item-detail .detail-title {
        font-size: 1.5rem !important; }
  header .container .header-action .user {
    margin-left: 10px; }
    header .container .header-action .user .fa {
      font-size: 28px; } }
@media (min-width: 992px) {
  header .container .header-action .cart .small-cart {
    max-width: 600px; }
    header .container .header-action .cart .small-cart .small-cart-item-detail {
      padding-right: 150px; }
    header .container .header-action .cart .small-cart .small-cart-info .price h4, header .container .header-action .cart .small-cart .small-cart-info .delivery h4 {
      font-size: 1.5rem !important; }
    header .container .header-action .cart .small-cart .small-cart-info .final-price h2 {
      font-size: 1.8rem !important; }
  header .container .submenu {
    position: absolute;
    top: 120px; }
    header .container .submenu .submenu-link {
      margin-bottom: 15px; }
    header .container .submenu .level-2 {
      position: absolute;
      width: 500px;
      height: 300px;
      top: 0;
      left: 150px;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; }
      header .container .submenu .level-2 .submenu-link {
        margin-bottom: 10px; } }
@media (min-width: 1200px) {
  header a.btn span {
    display: inline-block !important; } }
.body-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(79, 79, 79, 0.38);
  top: 0;
  left: 0;
  z-index: 100;
  display: none; }

.lead-slider-wrapper .lead-slider {
  z-index: 0; }
.lead-slider-wrapper .lead-slider-item {
  padding: 166px 0 76px 0; }
  .lead-slider-wrapper .lead-slider-item .caption {
    max-width: 400px;
    margin-bottom: 57px; }
    .lead-slider-wrapper .lead-slider-item .caption h1 {
      font-size: 2.5rem; }
  .lead-slider-wrapper .lead-slider-item .btn-warning {
    color: #fff;
    font-size: 1rem;
    padding: 15px 39px; }
.lead-slider-wrapper .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); }
  .lead-slider-wrapper .owl-dots .owl-dot.active span, .lead-slider-wrapper .owl-dots .owl-dot:hover span {
    background: #FFC302; }
  .lead-slider-wrapper .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin-right: 10px; }

.owl-carousel {
  z-index: 0; }

.toys-wrapper {
  padding: 18px 0 15px 0;
  position: relative;
  margin-bottom: 105px; }
  .toys-wrapper .toys-slider-item {
    width: 120px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px; }

.section-title {
  position: relative;
  display: inline-block;
  margin-bottom: 91px; }
  .section-title:before {
    content: '';
    background-image: url(../img/yellowcray.png);
    position: absolute;
    width: 219px;
    height: 79px;
    top: -10px;
    left: 30px;
    z-index: -1; }

.most-popular .owl-nav {
  display: none !important; }

.new-products {
  position: relative;
  margin-bottom: 106px; }
  .new-products .section-title:before {
    left: 60px; }

.owl-nav {
  display: block !important;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%; }
  .owl-nav .fa {
    font-size: 1.5rem; }
  .owl-nav .owl-prev {
    position: absolute;
    left: 0px; }
  .owl-nav .owl-next {
    position: absolute;
    right: 0px; }

.product-item a {
  background: #f9f9f9;
  border-radius: 12px;
  width: 285px;
  height: 285px;
  font-family: "GothamRounded-Book" !important; }
.product-item .sticker-wrapper .sticker-sale {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  color: #fff;
  background: #FFC302;
  text-align: center; }
  .product-item .sticker-wrapper .sticker-sale span {
    position: relative;
    font-size: 1.5rem;
    font-family: "GothamRounded-Bold";
    line-height: 75px; }
.product-item .sticker-wrapper .sticker-new {
  width: 95px;
  height: 35px;
  color: #fff;
  background: #FF151F;
  border-radius: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center; }
  .product-item .sticker-wrapper .sticker-new span {
    position: relative;
    font-size: 1.1rem;
    font-family: "GothamRounded-Bold";
    line-height: 35px;
    text-transform: uppercase; }
.product-item h5 {
  width: 150px; }
  .product-item h5 a {
    background: none; }
.product-item .price .old-price, .product-item .price .new-price {
  font-family: "GothamRounded-Bold"; }
.product-item .price .old-price {
  color: #9B9B9B; }
.product-item .price .new-price {
  font-size: 1.5rem; }

.toys-category {
  margin-bottom: 68px; }
  .toys-category .section-title {
    margin-bottom: 67px; }
    .toys-category .section-title:before {
      display: none; }
  .toys-category figure {
    position: relative; }
    .toys-category figure .toys-item-detail {
      position: absolute;
      background: url(../img/craypurple.png);
      width: 200px;
      height: 80px;
      bottom: 15px;
      left: 15px;
      text-align: center; }
      .toys-category figure .toys-item-detail h3 {
        color: #fff;
        line-height: 70px; }
  .toys-category .owl-nav {
    display: none !important; }
  .toys-category .owl-item {
    opacity: 0.3;
    transition: 0.4s linear; }
  .toys-category .owl-item.active {
    opacity: 1;
    transition: 0.4s linear; }

.toys-category-slider .owl-stage-outer {
  overflow: visible !important; }
.toys-category-slider .owl-dots {
  text-align: left; }
  .toys-category-slider .owl-dots .owl-dot.active span,
  .toys-category-slider .owl-dots .owl-dot:hover span {
    background: #8759F2; }
.toys-category-slider .toys-category-slider-item {
  max-width: 680px; }

.recomended-products {
  padding-bottom: 87px; }
  .recomended-products .section-title {
    margin-bottom: 67px; }
    .recomended-products .section-title:before {
      display: block; }
  .recomended-products .owl-nav {
    display: block !important;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%; }
    .recomended-products .owl-nav .fa {
      font-size: 1.5rem; }
    .recomended-products .owl-nav .owl-prev {
      position: absolute;
      left: 0px; }
    .recomended-products .owl-nav .owl-next {
      position: absolute;
      right: 0px; }

.ask-magzi {
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative; }
  .ask-magzi .section-title {
    margin-bottom: 66px; }
    .ask-magzi .section-title:before {
      background: none; }
  .ask-magzi:before {
    content: '';
    background: url(../img/bgshape.png);
    position: absolute;
    height: 198px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1; }
  .ask-magzi .form-group {
    width: 100%; }
  .ask-magzi .select2-container {
    display: block; }
  .ask-magzi .btn {
    height: 55px;
    display: inline-block; }
  .ask-magzi .btn-warning {
    font-family: "GothamRounded-Bold";
    padding-left: 29px;
    padding-right: 29px; }
  .ask-magzi .select2-container--default .select2-selection--single {
    border-radius: 36px;
    height: 55px;
    background: #F9F9F9;
    padding: 10px;
    border-color: transparent; }
  .ask-magzi .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 13px;
    right: 10px; }

.select2-container .select2-dropdown {
  border-color: transparent !important;
  background: #F9F9F9 !important; }

.select2-container--open .select2-dropdown--above {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px; }

.select2-container--open .select2-dropdown--below {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #FFC302; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  margin-right: 20px; }

.category {
  padding-top: 35px;
  padding-bottom: 110px; }
  .category .section-title {
    margin-bottom: 77px; }
    .category .section-title:before {
      background: none; }
  .category .category-slider {
    position: relative; }
    .category .category-slider:after {
      content: '';
      width: 2px;
      height: 100%;
      background: #8759F2;
      position: absolute;
      right: 0;
      top: 0; }
    .category .category-slider li {
      border-right: 0.5px solid #fff; }
  .category .owl-item img {
    width: auto;
    display: inline-block; }
  .category h3 {
    margin-bottom: 38px; }
  .category figure {
    margin-bottom: 48px; }
  .category .btn {
    color: #8759F2;
    padding: 18px 39px;
    font-size: 1.25rem; }

@media (min-width: 576px) {
  .ask-magzi {
    padding-top: 40px;
    padding-bottom: 60px; }
    .ask-magzi:after {
      content: '';
      background: url(../img/magzi.png) no-repeat;
      position: absolute;
      height: 261px;
      width: 287px;
      bottom: 27px;
      left: 20px;
      z-index: -1; }
    .ask-magzi .form-group {
      width: auto;
      margin-right: 25px; }
    .ask-magzi .magzi-price {
      width: 150px; }

  .category {
    padding-top: 65px;
    padding-bottom: 250px; } }
@media (min-width: 768px) {
  .lead-slider-wrapper .lead-slider-item {
    padding: 206px 0 76px 0; }
    .lead-slider-wrapper .lead-slider-item .caption h1 {
      font-size: 3.5rem; }
    .lead-slider-wrapper .lead-slider-item .btn-warning {
      font-size: 1.25rem; }
  .lead-slider-wrapper .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    margin-right: 15px; }

  .toys-wrapper {
    padding: 38px 0 25px 0; }

  .product-item a {
    width: 305px;
    height: 305px; }

  .new-products .owl-prev {
    left: -25px !important; }
  .new-products .owl-next {
    right: -25px !important; }

  .recomended-products .owl-nav .owl-prev {
    left: -25px !important; }
  .recomended-products .owl-nav .owl-next {
    right: -25px !important; }

  .ask-magzi {
    padding-top: 61px;
    padding-bottom: 99px; }
    .ask-magzi:after {
      left: 140px; } }
@media (min-width: 992px) {
  .lead-slider-wrapper .lead-slider-item {
    padding: 266px 0 76px 0; }
  .lead-slider-wrapper .owl-dots .owl-dot span {
    margin-right: 20px; } }
@media (min-width: 1340px) {
  .ask-magzi:after {
    left: 260px; } }
footer {
  position: relative;
  padding-top: 67px;
  padding-bottom: 41px;
  font-family: "GothamRounded-Bold" !important; }
  footer:before {
    content: '';
    background: url(../img/sand.png);
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 166px; }
  footer ul li a {
    line-height: 37px; }
  footer .footer-social .footer-social-item a {
    display: inline-block;
    background: #FF151F;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    color: #FFE19C;
    border: 1px solid #FF151F;
    transition: .2s linear;
    margin-bottom: 10px;
    margin-right: 14px; }
    footer .footer-social .footer-social-item a:hover {
      background: #FFE19C;
      color: #FF151F; }
  footer .footer-social .form-group label {
    margin-bottom: 14px; }
  footer .footer-social .form-group input {
    padding: 18px;
    height: 54px;
    text-align: left; }
  footer .footer-social .form-group .btn-outline-secondary:hover {
    background: transparent; }
  footer .footer-social .btn-light {
    font-size: 1.25rem;
    padding: 17px 41px;
    margin-bottom: 17px; }
    footer .footer-social .btn-light:hover {
      background: #000;
      color: #fff;
      border-color: #000; }
  footer .copyright p {
    font-family: "GothamRounded-Book";
    margin-bottom: 0; }

/*# sourceMappingURL=theme.css.map */
