
html{
    font-size: 16px;
}

body {
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

a {
    font-family: $gotham-bold;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $burbank-bold;

}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.contact-fixed {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 9 ;

    .contact-fixed-item {
        width: 70px;
        height: 70px;
        background: $yellow;
        border-radius: 12px;
        position: relative;
        cursor: pointer;

        .fa {
            color: #fff;
            position: absolute;
            font-size: 3.5rem !important;
            line-height: 70px;
            left: 50%;
            transform: translateX(-50%);
        }

        .contact-number-item {
            visibility: hidden;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);

            a {
                color: #fff;
                font-size: 1.25rem;
            }
        }

        &.active-sm {
            width: 239px;

            .fa {
                left: 35px;
            }

            .contact-number-item {
                visibility: visible;


            }
        }
    }
}


// Placeholder for image


.img-holder{
    position: relative;
    background: #ccc url('assets/logo-small.png') no-repeat center center;
    background-size: 80px auto;
    overflow:hidden;
    display:block;
    &:after{
        content: '';
        display: block;;
        width: 100%;
    }

    &.size-1by1{
        &:after{
            padding-top: 100%;
        }
    }
    &.size-4by3{
        &:after{
            padding-top: 75%;
        }
    }
    &.size-16by9{
        &:after{
            padding-top: 56.25%;
        }
    }

    img{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
    }
}

@media(min-width: 992px) {

    .contact-fixed {
        position: fixed;
        bottom: 50px;
        right: 20px;

        .contact-fixed-item {
            width: 239px;

            .fa {
                left: 35px;
            }

            .contact-number-item {
                visibility: visible;
            }
        }
    }
}