
html{
    font-size: 16px;
}

body {
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

a {
    font-family: $gotham-bold;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $burbank-bold;

}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.contact-fixed {
    position: fixed;
    bottom: 52px;
    right: 26px;
    z-index: 3;
    
    .contact-fixed-item {
        background: $yellow;
        width: 239px;
        height: 70px;
        border-radius: 12px;
        padding: 6px 12px;
        
        .fa {
            font-size: 3rem;
            color: #fff;
            margin-right: 12px;
        }
        
        .contact-number a {
            color: #fff;
            font-size: 1.25rem;
        }
    }
}
// Placeholder for image


.img-holder{
    position: relative;
    background: #ccc url('assets/logo-small.png') no-repeat center center;
    background-size: 80px auto;
    overflow:hidden;
    display:block;
    &:after{
        content: '';
        display: block;;
        width: 100%;
    }

    &.size-1by1{
        &:after{
            padding-top: 100%;
        }
    }
    &.size-4by3{
        &:after{
            padding-top: 75%;
        }
    }
    &.size-16by9{
        &:after{
            padding-top: 56.25%;
        }
    }

    img{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
    }
}

