
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .container {
        max-width: 1620px;
        padding: 0 10px;

        .navbar-brand {
            max-width: 30%;
        }

        .header-action {

            a.btn-danger {
                border-radius: 20px;
                padding: 5px 10px;
                font-size: .8rem;
                display: none;
            }

            .search {

                .search-icon {
                    cursor: pointer;
                }

                .search-form {
                    position: absolute;
                    right: 0;
                    top: 80px;
                    display: none;
                    width: 100%;

                    .form-control {

                        border-color: #6c757d !important;
                    }
                }                

                .btn {
                    background: #fff;
                }
            }

            .cart {
                position: relative;

                .num {
                    position: absolute;
                    background-color: $red;
                    border-radius: 50%;
                    color: #fff;
                    font-size: 0.6rem;
                    width: 16px;
                    height: 16px;
                    text-align: center;
                    top: -5px;
                    right: -1px;
                    line-height: 16px;
                }

                .small-cart {
                    position: fixed;
                    top: 0;
                    right: -600px;
                    height: 100vh;
                    overflow: hidden;
                    width: 600px;
                    max-width: 90%;
                    padding: 0 10px;
                    font-family: $gotham-book;
                    transition: 0.5s ease-in-out;
                    z-index: 1000;


                    &.active {
                        right: 0;
                    }

                    > h4 {
                        font-family: $gotham-bold;
                        color: $danger;
                    }

                    .small-cart-info {
                        flex-direction: column;

                        .price h4, .delivery h4{
                            font-size: 1rem !important;
                        }
                        .final-price h2 {
                            font-size: 1.25rem !important;
                        }
                    }

                    .small-cart-products {
                        border-bottom: 2px solid #cfcfcf;
                        height: 470px;
                        padding-bottom: 20px;

                        .small-cart-item {

                            position: relative;
                            .small-cart-item-photo {
                                margin-right: 25px;

                                a {
                                    display: flex;
                                    width: 95px;
                                    height: 95px;
                                    background: $gray-100 !important;
                                    border-radius: 12px;
                                    align-items: center;
                                }
                            }

                            .small-cart-item-detail {
                                width: 150px;

                                .detail-title {
                                    font-size: 1rem;
                                    font-family: $gotham-book !important;
                                }

                                p {
                                    font-family: $gotham-bold;
                                }

                                .close-small-cart {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 25px;
                                    height: 25px;
                                    background: $gray-100;
                                    border-radius: 50%;
                                    text-align: center;
                                }
                            }

                        }
                    }

                    .small-cart-action {

                        .btn {
                            width: 200px;
                            height: 55px;
                            border-radius: 36px;
                            line-height: 40px;
                        }

                        .btn-light {
                            font-size: 1.10rem;
                        }

                        .btn-warning {
                            font-size: 1.25;
                            color: #fff;
                        }
                    }
                }
            }

            .user {
                margin-left: 3px;

                .fa {
                    font-size: 20px;
                    position: relative;
                    top: 2px;
                }

                .dropdown-menu {
                    border-radius: 36px 0 36px 36px;
                    top: 50px;
                    left: -160px;
                    border-color: $orange;
                    z-index: 0;
                }

                .dropdown-item {
                    border-radius: 36px 0 0 0;
                    border-color: $red;
                    background: transparent;
                    border-bottom: 1px solid $orange;
                    padding: 10px 15px;
                    text-align: center;

                    &:hover {
                        color: $orange;
                    }

                    &:focus {
                        color: $red;
                        background: none;
                    }
                }
            }
        }
        .navbar-toggler {
            padding: 0.15rem 0.55rem;
            border: none;
        }

        .toggler-1 {
            position: relative;

            .toggle-submenu-sm {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.25rem;
                color: #000;
            }
        }

        .toggler-2 {
            position: relative;
            display: block;

            .toggle-submenu-2-sm {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: #875fee;
                font-size: 1.25rem;
            }
        }

        .submenu {
            display: none;
            padding-left: 10px !important;
            margin-bottom: 15px !important;

            .submenu-icon {
                width: 30px;
                margin-right: 20px; 
                margin-bottom: 10px;
            }


            .level-2 {
                padding-left: 50px !important;
                display: none;
            }
        }
    }
}

@media(min-width: 450px) {
    header {

        .container {
            padding-left: 15px;
            padding-right: 15px;

            .header-action {

                a.btn {
                    font-size: 1rem;
                    display: inline-block;

                    span {
                        display: none;
                    }
                }

                img {
                    width: 100% !important;
                }

                .search {
                    .search-form {
                        top: 100px;
                    }
                }

                .cart { 


                    .num {
                        top: -7px;
                        right: -7px;
                    }

                    .small-cart-item {

                        .small-cart-item-photo {
                            margin-right: 25px;

                            a {
                                width: 110px !important;
                                height: 110px !important;
                            } 
                        }
                    }

                    .user {
                        margin-left: 7px;

                        .fa {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

    @media(min-width: 576px) {
        header {
            .container {

                .navbar-brand {
                    width: 10;
                }

                .header-action {

                    a.btn {

                        padding: 6px 20px;
                        font-size: 1rem;
                    }

                    .search {

                        .search-form {
                            top: 120px;
                        }
                    }

                    .cart {

                        .small-cart {
                            padding: 0 19px 0 50px;

                            .small-cart-item {

                                .small-cart-item-photo {
                                    margin-right: 30px !important;

                                    a {
                                        width: 150px !important;
                                        height: 150px !important;
                                    } 
                                }

                            }

                            .small-cart-item-detail {
                                padding-right: 100px;
                                width: 350px !important;


                                .detail-title {
                                    font-size: 1.5rem !important;
                                }
                            }
                        }
                    }

                    .user {
                        margin-left: 10px;

                        .fa {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        header {

            &:before {
                content: '';
                height: 260px;
                position: absolute;
                top: -140px;
                left: 0;
                right: 0;
                background: #fff;
                border-bottom: 3px solid transparent;
                transition: 0.3s linear;
                z-index: -1;
            }

            &.nav-hover {

                &:before {
                    top: 116px;
                    border-bottom-color: $red;
                }
            }

            .container {

                .header-action {


                    .cart {

                        .small-cart {

                            .small-cart-item-detail {
                                padding-right: 150px;
                            }

                            .small-cart-info {
                                .price h4, .delivery h4{
                                    font-size: 1.5rem !important;
                                }
                                .final-price h2 {
                                    font-size: 1.8rem !important;
                                }
                            }
                        }
                    }

                }

                .submenu {
                    position: absolute;
                    top: 120px;
                    z-index: 10;

                    .submenu-link {
                        margin-bottom: 15px;
                    }

                    .level-2 {
                        position: absolute;
                        width: 500px;
                        height: 300px;
                        top: 0;
                        left: 150px;
                        -webkit-column-count: 2;
                        -moz-column-count: 2;
                        column-count: 2;

                        .submenu-link {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }    
    }


    @media (min-width: 1200px) {
        header {
            a.btn {

                span {
                    display: inline-block !important;

                }

            }
        }
    }

}

.body-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(79,79,79,0.38);
    top: 0;
    left: 0;
    z-index: 100;
    display: none; 
}