
main {
    margin-top: 70px;
}

.lead-slider-wrapper {

    .lead-slider {

        z-index: 0;
    }

    .lead-slider-item {
        padding: 166px 0 76px 0 !important;
        background-size: cover !important; 
        background-position: center bottom !important;

        .caption {
            max-width: 400px;
            margin-bottom: 57px;

            h1 {
                font-size: 2.5rem;
            }
        }

        .btn-warning {
            color: #fff;
            font-size: 1rem;
            padding: 15px 39px;
        }
    }


    .owl-nav {
        display: none !important;
    }

    .owl-dots {

        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        .owl-dot {

            &.active span, &:hover span {
                background: $yellow;
            }

            span {
                width: 12px;
                height: 12px;
                margin-right: 10px;
                background: #fff;
            }
        }
    }
}

// toys wrapper

.owl-carousel {
    z-index: 0;
}

.owl-carousel .owl-nav [class*="owl-"]:hover {
    background: none;
    color: #000;
    text-decoration: none;
}

.toys-wrapper {
    padding: 18px 0 15px 0;
    position: relative;
    margin-bottom: 55px;

    .toys-slider-item {

        width: 120px;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px;
    }


    .owl-nav {
        display: none !important;
    }
}

// most popular products

.section-title {
    position: relative;
    display: inline-block;
    margin-bottom: 56px;

    &:before {
        content: '';
        background-image: url(../img/yellowcray.png);
        position: absolute;
        width: 219px;
        height: 79px;
        top: -10px;
        left: 30px;
        z-index: -1;
    }
}

.most-popular {


    .owl-nav {
        display: none !important;
    }

}

// new products 

.new-products {
    position: relative;
    margin-bottom: 55px ;

    .section-title {

        &:before {
            left: 60px;
        }
    }


}
.owl-nav {
    display: block !important;
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;

    .fa {
        font-size: 1.5rem;
    }

    .owl-prev {
        position: absolute;
        left: 0px;
    }

    .owl-next {
        position: absolute;
        right: 0px;
    }
}


.product-item {

    a {
        background: #f9f9f9;
        border-radius: 12px;
        width: 240px;
        height: 240px;
        font-family: $gotham-book !important;
        position: relative;
        margin: 0 auto;
    }

    .sticker-wrapper {

        .sticker-sale {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            color: $white;
            background: $yellow;
            text-align: center;

            span {
                position: relative;
                font-size: 1.5rem;
                font-family: $gotham-bold;
                line-height: 75px;
            }
        }

        .sticker-new {
            width: 95px;
            height: 35px;
            color: $white;
            background: $danger;
            border-radius: 25px;
            position: absolute;
            top: 10px;
            right: 10px;
            text-align: center;

            span {
                position: relative;
                font-size: 1.1rem;
                font-family: $gotham-bold;
                line-height: 35px;
                text-transform: uppercase;
            }
        }
    }

    h5 {
        width: 150px;
        a {
            background: none;
        }
    }

    .price {

        .old-price, .new-price {
            font-family: $gotham-bold;
        }

        .old-price {
            color: #9B9B9B;
        }

        .new-price {
            font-size: 1.25rem;
        }
    }
}

// TOYS CATEGORY

.toys-category {
    margin-bottom: 68px;

    .section-title {
        margin-bottom: 67px;

        &:before {
            display: none;
        }
    }

    figure {
        position: relative;

        .toys-item-detail {
            position: absolute;
            background: url(../img/craypurple.png);
            width: 200px;
            height: 80px;
            bottom: 15px;
            left: 15px;
            text-align: center;

            h3 {
                color: #fff;
                line-height: 70px;
            }
        }
    }

    .owl-nav {
        display: none !important;
    }

    .owl-item {
        opacity: 0.3;
        transition: 0.4s linear;
    }

    .owl-item.active {
        opacity: 1;
        transition: 0.4s linear;
    }
}

.toys-category-slider {

    .owl-stage-outer {
        overflow: visible !important;
    }

    .owl-dots {
        text-align: left;

        .owl-dot.active span,
        .owl-dot:hover span {
            background: $purple;
        }

    }

    .toys-category-slider-item {
        max-width: 680px;
    }
}


// RECOMENDED SECTION


.recomended-products {
    padding-bottom: 47px;

    .section-title {
        margin-bottom: 67px;

        &:before {
            display: block;
        }
    }

    .owl-nav {
        display: block !important;
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;

        .fa {
            font-size: 1.5rem;
        }

        .owl-prev {
            position: absolute;
            left: 0px;
        }

        .owl-next {
            position: absolute;
            right: 0px;
        }

    }
}

// ASK MAGZI

.ask-magzi {
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;

    .section-title{
        margin-bottom: 66px;

        &:before {
            background: none;
        }
    }

    &:before {
        content: '';
        background: url(../img/bgshape.png);
        position: absolute;
        height: 198px;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: -1;
    }


    .form-group {
        width: 100%;
    }

    .select2-container {
        display: block;
    }

    .btn {
        height: 55px;
        display: inline-block;
        border: none;
    }

    .btn-warning {
        font-family: $gotham-bold;
        padding-left: 29px;
        padding-right: 29px;
    }

    .select2-container--default .select2-selection--single {
        border-radius: 36px;
        height: 55px;
        background: $gray-100;
        padding: 10px;
        border-color: transparent;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 13px;
        right: 10px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 33px;
    }
}

.select2-container .select2-dropdown {
    border-color: transparent !important;
    background: $gray-100 !important;
}

.select2-container--open .select2-dropdown--above {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.select2-container--open .select2-dropdown--below {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $yellow;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-right: 20px;
}


// CATEGORY SECTION

.category {
    padding-top: 35px;
    padding-bottom: 110px;


    .section-title{
        margin-bottom: 77px;

        &:before {
            background: none;
        }
    }

    .category-slider {
        position: relative;

        &:after {
            content: '';
            width: 2px;
            height: 100%;
            background: $purple;
            position: absolute;
            right: 0;
            top: 0;

        }

        li {
            border-right: 0.5px solid #fff;
        }
    }


    .owl-item {

        img {
            width: auto;
            display: inline-block;
        }
    }

    h3 {
        margin-bottom: 38px;
    }

    figure {
        margin-bottom: 48px;
    }

    .btn {
        color: $purple;
        padding: 18px 39px;
        font-size: 1.25rem;
    }
}



@media(min-width: 450px){

    main {
        margin-top: 85px;
    }

    .ask-magzi {
        .form-group {
            margin-right: 25px;
        }
    }
}


@media(min-width: 576px){

    main {
        margin-top: 105px;
    }

    .owl-nav {

        .owl-prev {
            left: -5px;
        }
    }

    .ask-magzi {

        padding-top: 40px;

        &:after {
            content: '';
            background: url(../img/magzi.png) no-repeat;
            position: absolute;
            height: 261px;
            width: 287px;
            bottom: 27px;
            left: 20px;
            z-index: -1;
        }

        .form-group {
            width: auto;
        }


        .magzi-price {
            width: 150px;
        }
    }


    .category {
        padding-top: 65px;
        padding-bottom: 250px;

    }

}



@media(min-width: 768px){

    main {
        margin-top: 115px;
    }

    .lead-slider-wrapper {

        .lead-slider-item {
            padding: 206px 0 76px 0;

            .caption {

                h1 {
                    font-size: 3.5rem;
                }
            }

            .btn-warning {
                font-size: 1.25rem;
            }
        }



        .owl-dots {

            .owl-dot {

                span {
                    width: 14px;
                    height: 14px;
                    margin-right: 15px;
                }
            }
        }
    }

    .toys-wrapper {
        padding: 38px 0 25px 0;
    }

    .product-item {

        .price {

            .old-price, .new-price {
                font-family: $gotham-bold;
            }

            .old-price {
                color: #9B9B9B;
                font-size: .8rem;
            }

            .new-price {
                font-size: 1.3rem;
            }
        }
    }

    .owl-prev {
        left: -17px !important;
    }

    .owl-next {
        right: -17px !important;
    }

    .ask-magzi {

        padding-top: 61px;


        &:after {
            left: 140px;
        }
    }

    .owl-nav {
        .fa {
            font-size: 2rem !important;
        }
    }
}



@media(min-width: 992px){
    .lead-slider-wrapper {

        .lead-slider-item {
            padding: 280px 0 76px 0;

        }

        .owl-dots {

            .owl-dot {

                span {
                    margin-right: 20px;
                }
            }
        }
    }
    .product-item {

        a {
            width: 275px;
            height: 275px;
        }

        .price {

            .old-price {
                color: #9B9B9B;
                font-size: 1rem;
            }

            .new-price {
                font-size: 1.5rem;
            }
        }
    }

    .ask-magzi {
        padding-bottom: 99px;


        .form-group {
            margin-right: 0;
        }
    }
}

@media(min-width: 1400px){

    .ask-magzi {

        &:after {
            left: 160px;
        }
    }

    .product-item {

        a {
            width: 305px;
            height: 305px;
        }
    }
}