.single-product {
    padding-top: 70px;
    padding-bottom: 100px;

    .breadcrumb {
        background: none;
        font-size: 0.8rem;

        a {
            font-family: $gotham-book;
        }

        .breadcrumb-item.active {
            font-family: $gotham-bold;
        }
    }

    .single-product-item-detail {
        margin-bottom: 36px;

        h1 {
            font-size: 2rem;
        }

        .lead {
            font-size: 0.8rem;
        }
    }

    .single-product-item-price {
        margin-bottom: 50px;

        h6 {
            font-size: 0.8rem;
            margin-bottom: 26px;
        }


        .btn-warning {

            &:hover {
                background: #fff;
                color: $yellow !important;
                border-color: 1px solid $yellow !important;
            }
        }

    }

    .contact {
        margin-bottom: 100px;

        .fa-phone {
            width: 50px;
            height: 50px;
            font-size: 48px;
        }
    }

    .social-item {

        a {
            color: #fff;

            &:hover {
                background: #fff;
                color: $red;
            }
        }
    }


    .single-product-tabulator {

        .tab-nav {
            font-size: 0.8rem;

            ul{
                border-bottom: 2px solid $gray-400;

                li {
                    display: inline-block;
                    border-bottom: 2px solid transparent;
                    transition: 0.4s linear;
                    position: relative;
                    top: 2px;

                    &:hover{
                        border-bottom: 2px solid $yellow;
                        position: relative;
                        top: 2px;
                    }
                }
            }



        }

        .tab-description {
            font-size: 0.8rem;

            ul{
                padding-top: 10px;
                padding-left: 10px;
            }
        }

        .tab-paymant {
            display: none;
        }

        .tab-delivery {
            display: none;
        }
    }
}

@media(min-width: 450px){
    .single-product {
        padding-top: 110px;


        .tab-nav {
            font-size: 1rem !important;

            ul {

                li {

                    margin-right: 10px;
                }
            }

        }
        .tab-description {
            font-size: 1rem !important;
        }
    }
}

@media(min-width: 576px){
    .single-product {
        padding-top: 150px;


        .single-product-photo {
            margin-top: -60px;
        }
    }
}

@media(min-width: 992px){
    .single-product {
        padding-top: 195px;

        .breadcrumb {
            font-size: 1.25rem;
            margin-bottom: 60px;
        }

        .single-product-item-detail {
            margin-bottom: 56px;

            h1 {
                font-size: 3rem !important;
            }

            .lead {
                font-size: 1.25rem;
            }
        }

        .single-product-item-price {
            margin-bottom: 104px;

            h2 {
                font-size: 3rem;
            }
        }



        .single-product-photo {
            margin-top: -100px;

        }


        .tab-nav {
            font-size: 1.25rem !important;

        }
    }


}

@media(min-width: 1200px){
    .single-product {

        .single-product-item-detail {

            h1 {
                max-width: 500px;
                font-size: 3.5rem;
            }
        }
    }
}